@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  min-height: 100vh;
  background-color: rgba(255, 192, 203, 0.26);
  font-family: 'Montserrat', sans-serif;
  padding-top: 2vw ;
  transition: all .8s ease;

    .form {
      max-width: 450px;
      background-color: #f2e1f8;
      margin: 0 auto;
      padding: 20px;
      border-radius: 20px;
      box-shadow: 0 0 12px black;

      .form-control {
        display: flex;
        flex-direction: column;
        margin: 15px 0;
        row-gap: 5px;

        label {
          font-size: 17px;
          letter-spacing: -.5px;
        }

        input, select {
          display: inline-block;
          height: 35px;
          outline: none;
          border: 2px solid transparent;
          padding-left: 15px;

          option {
            display: inline-block;
            margin: 20px;
          }
        }

        small {
          color: transparent;
        }
      }

      .form-control.error {
        input {
          border: 2px solid red;
        }

        small {
          color: red;
        }
      }

      .form-control.success {

        input {
          border: 2px solid green;
        }
      }

      .btn {
        display: inline-block;
        padding: 4px 11px;
        border-radius: 15px;
        border: 2px solid black;
        background-color: transparent;
        font-family: 'Montserrat', sans-serif;
        font-size: 20px;
        transition: all .8s ease;

        &:active {
          transition: all .8s ease;
          scale: (.97);
          box-shadow: 0 0 8px black;
        }
      }
    }

  #toasts {
    position: fixed;
    bottom: 10px;
    right: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    .toast {
      background-color: white;
      color: #2d73f8;
      line-height: 28px;
      border: 2px solid #2d73f8;
      border-radius: 5px;
      padding: 10px 22px;
      margin: 8px;
      max-width: 250px;
    }
  }
}

.container.active {
  background-color: rgba(114, 243, 246, 0.26);
  transition: all .8s ease;
}